/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: "Saira Extra Condensed", sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding:  0;
  margin: 0;
  width: 100vw;
}

h1{
  font-size:3em;
  font-weight:normal;
}

h2{
  font-size:2.5em;
  font-weight:normal;
}

a{
  display:flex;
  flex-direction: absolute;
  color: rgb(15, 8, 36);
  padding: 0 1em;
  margin: 1em;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(144, 189, 238);
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  height: 100px;
  padding: 21px;
}

.nav-item a{
  display:flex;
  font-size: 2em;
  flex-direction: absolute;
  text-decoration:none;
  padding: 0 1em;
  color: rgb(15, 8, 36);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(228, 225, 225);
}


.home {
  display:flex;
  flex-direction:column;
} 

.campuses-container{
  display:flex;
  flex-wrap: wrap;
}

.campus {
  display: flex;
  padding: 2em;
  margin: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.campus a {
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
  height: 300px;
}

.campus img:hover{
  padding: 2em;
  transform: translate(-0.25em, 0)
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #485f69;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.button-container {
  display: flex;
  padding: 1em;
  margin-bottom: 4em;
  justify-content: center;
}

.title {
 display:flex;
 text-shadow: 2px 2px 6px grey;
 flex-direction: row;
 justify-content:center;
 align-items: center;
 flex: 1 0 0;
}


